.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.row{
    display: flex;
    flex-direction: column;
}

#buscador{
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
}

.form-control{
    border: 1px solid var(--primaryColor)
}

#inputGroup-sizing-sm{
    border: 1px solid var(--primaryColor)
}

.loop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardC {
    height: 770px; 
    width: 300px;
    border: 1px solid var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

button{
    border: none;
    background: none;
}




