.container{
    display:flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0px;
}

img{
    width: 70%;
    height: 85%;
    display: flex;
    align-content: flex-start;
}

.formularioContainer{
    height: 650px;
    width: 450px;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 129, 130, 0.173);
}

h1{
    border-bottom: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.buttonF{
    display: flex;
    width: 400px;
    justify-content: center;
    align-self: center;
    background-color: var(--primaryColor);
}
