<form class="row g-3 registro">
    <div class="col-12">
        <label for="inputName" class="form-label input">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="John">
    </div>
    <div class="col-12">
        <label for="inputSurname" class="form-label input">Apellidos</label>
        <input type="text" class="form-control" id="inputSurname" placeholder="Doe">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label input">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="johndoe@gmail.com">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label input">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <button type="submit" class="btn input">Suscribirse</button>
    </div>
</form>